<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            margin: 0;
            padding: 0;

        }
        #items-dis{
            display: flex;
            justify-content: space-evenly;
            margin-top: 3%;
        }
        #item{
            background-color: rgb(177, 223, 223);
            border-radius: 5%;
            /* border: 1px solid; */
            width: 20%;
            overflow: hidden;
            text-align: center;
        }
        nav{
            font-size: x-large;
        }
    </style>
</head>
<body>
    
    {% include 'partials/_header_owner.html' %}
    <div id="items-dis">
    {% if res%}
        {% for i in res %}
        <div id="item">
        <h4>{{i.item_name}}</h4>
        <h4>{{i.item_price}}</h4>
        <img src="{{i.item_image.url}}" alt="" height="100px" width="100px">
        <p>{{i.item_desc}}</p>
        <a href="{% url 'crud_app:item_update' pk=i.item_id%}"><button>update</button></a>
        <a href="{% url 'crud_app:item_delete' pk=i.item_id%}"><button>delete</button></a>
        </div>
        {% endfor %}
    {% endif %}
</div>
<a href="{% url 'crud_app:items' %}"><button>
    items_create
</button></a>
<a href="{% url 'owner_app:sample_home_view' %}"><button>
    Home
</button></a>
{% include 'partials/_footer.html' %}
</body>
</html>