<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>owner_register</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/owner_register.css' %}">
</head>
<body>
    <!-- {%include 'partials/_header.html'%} -->
    {%if messages %}
    {% for i in messages %}
    <h5>{{i}}</h5>
    {% endfor %}
    {% endif %}
    <form action="" method="post" enctype="multipart/form-data" class="p-3 mb-2 bg-warning text-dark">
        {% csrf_token %}
    <table>
        {{form}}
    </table>
    <input type="submit" value="Register">
    </form>
    <a href="{% url 'owner_app:owner_login_view' %}"><button>login</button></a>
    <div>
        <!-- {% include "partials/_boostjs.html" %} -->

</div>


</body>
</html>