<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <style>
        #c-display{
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            text-align: center;
        }
    #main{
        width: 20%;
        overflow: hidden;
        background-color: rgb(177, 223, 223);
        border-radius: 5%;
        cursor: pointer;
        margin-top: 3%;
    } 
    
</style>
</head>
<body>
    {% include 'partials/_header_owner.html'%}
    <div id="c-display">
        {% if res %}
            {% for i in res %}
            <div id="main">
                <h4>{{i.category_name}}</h4>
                <a href="{% url 'owner_app:items_display_view' pk=i.category_id %}"><img src="{{i.category_image.url }}" alt="sorry" height="100px" width="100px"></a>
                <p>{{i.category_desc}}</p>
                <a href="{% url 'crud_app:updates' pk=i.category_id %}"><button>update</button></a>
                <a href="{% url 'crud_app:deletes' pk=i.category_id %}"><button>Delete</button></a>
                <a href="{% url 'crud_app:items' %}"><button>Items_create</button></a>
            </div>
            {% endfor %} 
        {% endif%}
    </div>

    {% include 'partials/_footer.html' %}
</body>
</html>