<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/sample.css' %}">
</head>
<body>
    <header id="" class="">
        <nav  class="" id="">
            <ul id="ul-owner">
            <a href="{% url 'crud_app:catagory'%}"><li>Category_create</li></a>
            <a href="{% url 'crud_app:items' %}"><li>Items_change</li></a>
            <a href=""><li>AboutUs</li></a>
        </ul>
        </nav>
    </header>
<div id="c-display">
        {% if res %}
        
            {% for i in res %}
            <div id="main">
                <h1>category name</h1>
                <h4>{{i.category_name}}</h4>
                <div><img src="{{i.category_image.url }}" alt="sorry" height="100px" width="100px"></div>
            <p>category description</p>
            <a href="{% url 'crud_app:updates' pk=i.category_id %}"><button>update</button></a>
            <a href="{% url 'crud_app:deletes' pk=i.category_id %}"><button>Delete</button></a>
            <a href=""><button>Items</button></a>
        </div>
            {% endfor %}
      
        {% endif%}
        
</div>
<a href="{% url 'owner_app:logout'%}"><button>logout</button></a>
</body>
</html>