<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        {%if messages %}
        {% for i in messages %}
        <h5>{{i}}</h5>
        {% endfor %}
        {% endif %}

        {% if res %}
        <h2>welcome to {{user}}</h2>
        <h3>Your cart</h3>
        <table border="2px">
            <tr>
                <td>item_id</td>
                <td>item_name</td>
                <td>item_price</td>
                <td>Remove</td>
            </tr>

            {% for i in res %}
            <tr>
                <td>{{i.your_item_id}}</td>
                {% for j in prod_data %}
                    {% if j.item_id == i.your_item_id %}
                        <td>{{j.item_name}}</td>
                        <td>{{j.item_price}}</td>
                    {% endif %} 
                {% endfor %}
                <td><a href="{% url 'cart_app:cart_remove' cart_id=i.cart_id %}"><button>Remove</button></a></td>
            </tr>
            {% endfor %}
        </table>
        <h1>Total_price: {{total_price.price__sum}}</h1>
        </div>
        <a href="{% url 'crud_app:items_list' %}"><button>items_display</button></a>
        <a href="{% url 'buy_app:buy_register' total_price=total_price.price__sum %}"><button>Buy now</button></a>
        {% else %}
        <h2>cart is empty</h2>
        <a href="{% url 'crud_app:items_list' %}"> <button>Item Display</button></a>
        {% endif %}
        
   
</body>
</html>