<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>category_for_user</title>
    <!-- BELOW GOOGLE FONTS LINK -->
  
    <style>
        *{
            padding: 0%;
            margin: 0%;
        }
        #cust-category{
            display: flex;
            justify-content: space-evenly;
            margin-top: 5%;
        }
        #cust-items{
            width:40%;
            border: 1px solid;
            margin: 10px;
            -webkit-box-shadow: 0px 1px 8px 4px rgba(0,0,0,0.84); 
box-shadow: 0px 1px 8px 4px rgba(0,0,0,0.84);
        }
    </style>
</head>
<body>
    <div>
 {% include 'partials/_category_header.html' %}
</div>
<div id="cust-category">
    {% if data %}
        {% for i in data %}
        <div id="cust-items">
            <h4>{{i.category_name}}</h4>
            <a href="{% url 'proapp18:items_user' hotel=i.hotel_id  category=i.category_id %}"><img src="{{i.category_image.url}}" alt="" height="150px" width="150px"></a>
            <p>{{i.category_desc}}</p>
        </div>
        {% endfor %}
    {% endif %}
</div>
<a href="{% url 'proapp18:home'%}"><button>Hotel home</button></a>
{% include 'partials/_footer.html' %}
</body>
</html>