<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css'%}">
    

    <title>Home_page</title>
</head>
<body>
<!-- {%include 'partials/_header.html'%} -->
    <div id="div1" class=""> 
        <section>
            <div id="" class="section1-div"><a href=""><img  id="li1" class="ul-li1" src="{% static '/images/download.jpeg'%}" alt=""> <p>Chicken Biriyani</p></a>  </div>
            <div id="" class="section1-div"><a href=""><img  id="li2" class="ul-li1" src="{% static '/images/ima.jpeg' %}" alt=""><p>Mutton Biriyani</p></a></div>
            <div id="" class="section1-div"><a href=""><img  id="li3" class="ul-li1" src="{% static '/images/download1.jpeg'%}" alt=""><p> salads</p></a></div>
            <div id="" class="section1-div"><a href=""><img  id="li4" class="ul-li1" src="{% static '//images/pizaa.jpg'%}" alt=""><p>Pizza</p></a></div>
            <div id="" class="section1-div"><a href=""><img  id="li5" class="ul-li1" src="{% static '/images/shawarma.jpg'%}" alt=""><p>shawarma</p></a></div>
            <div id="" class="section1-div"><a href=""><img  id="li6" class="ul-li1" src="{% static '/images/burger.avif'%}" alt=""><p>Burger</p></a></div>
            

        </section>
    </div>

        <br>

    <!-- <div id="main-wall" class="">
        <img id="img-wall" src="{% static 'images/imagesback.jpeg'%}" alt="">
    </div> -->

        <br>
<div id="body">
    <div id="cards" class="">
        <div id="cards">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="{% static 'images/foodhotel2.jpg' %}" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h2 class="card-title">Gufaa Ohri's Cuisine Court</h2>
                      <p class="card-text">
                            5-9-30/16-20, Opposite Old Gandhi <br> Medical College <br>
                            closed : 11 : 30 PM <br> <b>Best Restaurant</b> Tasty Food <br>
                            <a href=""><button>Veg</button></a><br>
                            <a href=""><button>Non_Veg</button> <br></a>
                            <a href=""><button>Starters</button></a> <br>
                            <a href=""><button>Drink's/Dessert</button></a>
                      </p>
                      <p class="card-text"><small class="text-body-secondary"></small></p>
                    </div>
                  </div>
                </div>
              </div> 

              <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="{% static 'images/foodhotel3.jpg' %}" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h2 class="card-title">Bidri</h2>
                      <p class="card-text">
                          Hyderbadi Secunderbad, Telangana <br> closed : 10 PM <br>
                          " it is <b>famous</b> for non veg dishes but veg <br> items are good as well " <br>
                            <a href=""><button>Veg</button></a><br>
                            <a href=""><button>Non_Veg</button> <br></a>
                            <a href=""><button>Starters</button></a> <br>
                            <a href=""><button>Drink's/Dessert</button></a>
                      </p>
                     <h3><a href="{% url 'proapp18:hotel' %}">Visit Hotel</a></h3>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="{% static 'images/foodhotel4.jpg' %}" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h2 class="card-title">Mekong</h2>
                      <p class="card-text">
                        Pan Asian <br> 7-1-26 Greenlands Area, Begumpet Rd <br> open : 11 Am to Close : 11 Pm <br>
                        <b>Best Restaurant</b> Tasty Food <br>
                        <a href=""><button>Veg</button></a><br>
                        <a href=""><button>Non_Veg</button> <br></a>
                        <a href=""><button>Starters</button></a> <br>
                        <a href=""><button>Drink's/Dessert</button></a>
                      </p>
                      <p class="card-text"><small class="text-body-secondary"></small></p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>

        <br> 
        
        <div id="" class="">
            <div id="cards">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="{% static 'images/foodhotel2.jpg' %}" class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h2 class="card-title">Gufaa Ohri's Cuisine Court</h2>
                          <p class="card-text">
                                5-9-30/16-20, Opposite Old Gandhi <br> Medical College <br>
                                closed : 11 : 30 PM <br> <b>Best Restaurant</b> Tasty Food <br>
                                <a href=""><button>Veg</button></a><br>
                                <a href=""><button>Non_Veg</button> <br></a>
                                <a href=""><button>Starters</button></a> <br>
                                <a href=""><button>Drink's/Dessert</button></a>
                    
                          </p>
                          <p class="card-text"><small class="text-body-secondary"></small></p>
                        </div>
                      </div>
                    </div>
                  </div> 
    
                  <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="{% static 'images/foodhotel3.jpg' %}" class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h2 class="card-title">Bidri</h2>
                          <p class="card-text">
                              Hyderbadi Secunderbad, Telangana <br> closed : 10 PM <br>
                              " it is <b>famous</b> for non veg dishes but veg <br> items are good as well " <br>
                                <a href=""><button>Veg</button></a><br>
                                <a href=""><button>Non_Veg</button> <br></a>
                                <a href=""><button>Starters</button></a> <br>
                                <a href=""><button>Drink's/Dessert</button></a>
                          </p>
                          <p class="card-text"><small class="text-body-secondary"></small></p>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="{% static 'images/foodhotel4.jpg' %}" class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h2 class="card-title">Mekong</h2>
                          <p class="card-text">
                            Pan Asian <br> 7-1-26 Greenlands Area, Begumpet Rd <br> open : 11 Am to Close : 11 Pm <br>
                            <b>Best Restaurant</b> Tasty Food <br>
                            <a href=""><button>Veg</button></a><br>
                            <a href=""><button>Non_Veg</button> <br></a>
                            <a href=""><button>Starters</button></a> <br>
                            <a href=""><button>Drink's/Dessert</button></a>
                          </p>
                          <p class="card-text"><small class="text-body-secondary"></small></p>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    
        <div id="" class=""></div>
        <div id="" class=""></div>
        <div id="" class=""></div>
        <div id="" class=""></div>
        <div id="" class=""></div>
        <div id="" class=""></div>
        <div id="" class=""></div>
        <div id="" class=""></div>

            
    <!-- {% include "partials/_boostjs.html" %} -->
        <a href="{% url 'proapp18:logout' %}"><button>Logout</button></a>
        <a href="{% url 'crud_app:items' %}"><button>ITEMS PAGE</button></a>

      </div>
</body>
</html>