<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>are  you sure to delete  the hotel name{{res.restarunt_name}}and {{res.email}}</h1>
<form action="" method="post" >
    {% csrf_token %}
    <input type="submit"  value="delete">
</form>
    <a href="{% url 'proapp18:hotel_display'%}"><button>hotel_display</button></a>
    <a href="{% url 'proapp18:hotel_register'%}"><button>Hotel_register</button></a>
    
</body>
</html>