<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    
    <style>
        nav{
            list-style-type: none;
            display: flex;
            border: 1px sol;
        }
    </style>
    <title>welcome</title>
</head>
<body>
    {% include 'partials/_homeh.html' %}
    <header>
        <nav>
            <li>About us</li>
            <li><a href="{% url 'owner_app:owner_register' %}">Add Restaurant</a></li>
            <li>Contact Us</li>
        </nav>
    </header>
    <main>
       
        <a href="{% url 'proapp18:register'%}"><button>register</button></a>
    <a href="{% url  'proapp18:login' %}"><button>login hear</button></a>
    </main>
</body>
</html>