<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>Register_Page</title>
   <link rel="stylesheet" href="{% static '/css/register.css'%}">
</head>
<body>
    <div>
        <header id="header-1">
               
                <a href="" id="a">AboutUs</a>
                <a href="">ContactUs</a>
                <a href="">Feedback</a>
                <a href="">For special offers</a>
        </header>
    </div>
    <div id="demo1">
        <div id="demo">
            <h1  id="h1-reg">Register Page</h1>
            <form action="" method="post">
                {% csrf_token %}
                    {{form.as_p}}
                <input type="submit" value="Register">
                <h3>Already User ?  <a href="{% url 'proapp18:login' %}"><button>Login</button></a></h3>
            </form>
            
        </div>
    </div>
</body>
</html>