ul{
    display: flex;
    list-style-type: none;
    font-size: x-large;
    justify-content: end;
    justify-content: space-evenly;
    border: 2px solid;
}
#c-display{
    display: flex;
    border: 1px solid green;
    height: 100vh;
    justify-content: space-between;
}

#main{
    border: 2px solid red;
    height: 50%;
    width: 25%;
}