<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
rel="stylesheet"
href="https://site-assets.fontawesome.com/releases/v6.5.1/css/all.css"
>

<link
rel="stylesheet"
href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-thin.css"
>


    <style>
    #p {
    background-color: #333; /* Dark gray background color for the footer */
    color: #fff; /* White text color */
    padding: 20px;
    text-align: center;
}

#footerPart {
    display: flex;
    justify-content: space-around;
}

#footerPart p {
    margin: 0;
}

#footerPart a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

#footerPart a:hover {
    color: #007BFF; /* Blue color on hover */
}

    </style>
</head>
<body>
    <div id="p">
      <footer id="footerPart">
        <p><a href="mailto:srikanthpasam76@gmail.com"><i class="fa-sharp fa-solid fa-envelope"></i>EMAIL  </a></p>
        <p><a href="tel:6302141118">Contact  Us</p> 
      &copy; Copyright 2023</a>
      </footer>
    </div>
</body>
</html>