<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>create_page</title>
</head>
<body>
    {% include 'partials/_messages.html' %}
    
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form}}
        <input type="submit" value="Add" id="">
    </form>
    <a href="{% url 'crud_app:display'%}"><button>Category_display</button></a>
    <a href="{% url 'crud_app:items'%}"><button>Items_create</button></a>
</body>
</html>