<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            font-size: large;
            border: 1px solid black;
        }
    </style>
</head>
<body>
    {% if data %}
    <table>
        <tr>
            <th>category_id</th>
            <th>Item_id</th>
            <th>Item_name</th>
            <th>Item_Price</th>
            <th>Item_quantity</th>
            <th>Item_desc</th>
            <th>update</th>
            <th>Delete</th>
        </tr>
        {% for i in data %}
        <tr>
            <td>{{i.category_id_id}}</td>
            <td>{{i.item_id}}</td>
            <td>{{i.item_name}}</td>
            <td>{{i.item_price}}</td>
            <td>{{i.item_quantity}}</td>
            <td>{{i.item_desc}}</td>
             <td><a href="{% url 'crud_app:item_update' pk=i.item_id %}"><button>update</button></a></td>
            <td><a href="{% url 'crud_app:item_delete' pk=i.item_id %}"><button>delete</button></a></td> 
            
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <h2>Data not found</h2>
    {% endif %}
    <div style="text-align: center;">
     <a href="{% url 'crud_app:items'%}">  <input type="button"  value="back to Items"></a> 
    </div>
</body>
</html>