<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Items_updatepage</title>
</head>
<body>
    <div>
        <form action="" method="post">

            {% csrf_token %}
            
            <label for="item_name">item_name</label>
            <input type="text" name="item_name" id="item_name" value="{{data.item_name}}"> <br>
            
            <label for="item_price">item_price</label>
            <input type="text" name="item_price" id="item_price" value="{{data.item_price}}"> <br>

            <label for="item_quantity">item_quantity</label>
            <input type="text" name="item_quantity" id="item_quantity" value="{{data.item_quantity}}"> <br>

            <label for="item_desc">item_desc</label>
            <input type="text" name="item_desc" id="item_desc" value="{{data.item_desc}}"> <br>
            
            <input type="submit" value="update">
        </form>
    </div>
    <div>
        <a href="{% url 'crud_app:items_list' %}"><button>Items list page</button></a>
    </div>
</body>
</html>