<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <label for="name">Enter Name:</label>
        <input type="text" name="username" id="name"><br>
        <label for="phoneNo">Enter Phone:</label>
        <input type="tel" name="phone" id="phoneNo"><br>
        <label for="Address">Enter Your address</label>
        <textarea name="Address" id="Address" cols="30" rows="10">Address</textarea>
        <input type="submit"  value="confirm to buy_app">
        <br> 
    </form>
</body>
</html>