<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boost/css</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'boostrap/css/bootstrap-grid.css' %}">
    <link rel="stylesheet" href="{% static 'boostrap/css/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" href="{% static 'boostrap/css/bootstrap-grid.rtl.css' %}">
    <link rel="stylesheet" href="{% static 'boostrap/css/bootstrap-grid.rtl.min.css' %}">

    <link rel="stylesheet" href="{% static 'boostrap/css/bootstrap-reboot.css' %}">
    <link rel="stylesheet" href="{% static 'boostrap/css/bootstrap-reboot.min.css' %}">
    <link rel="stylesheet" href="{% static 'boostrap/css/bootstrap-reboot.rtl.css' %}">
    <link rel="stylesheet" href="{% static 'boostrap/css/bootstrap-reboot.rtl.min.css' %}">

    <link rel="stylesheet" href="{% static 'boostrap/css/bootstrap-utilities.css' %}">
    <link rel="stylesheet" href="{% static 'boostrap/css/bootstrap-utilities.min.css' %}">
    <link rel="stylesheet" href="{% static 'boostrap/css/bootstrap-utilities.rtl.css' %}">
    <link rel="stylesheet" href="{% static 'boostrap/css/bootstrap-utilities.rtl.min.css' %}">

    <link rel="stylesheet" href="{% static 'boostrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'boostrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'boostrap/css/bootstrap.rtl.css' %}">
    <link rel="stylesheet" href="{% static 'boostrap/css/bootstrap.rtl.min.css' %}">

</head>
<body>
    
</body>
</html>