<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boostjs</title>

    {% load static %}

    <script src="{% static 'boostrap/js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'boostrap/js/bootstrap.bundle.min.js' %}"></script>
    
    <script src="{% static 'boostrap/js/bootstrap.esm.js' %}"></script>
    <script src="{% static 'boostrap/js/bootstrap.esm.min.js' %}"></script>

    <script src="{% static 'boostrap/js/bootstrap.js' %}"></script>
    <script src="{% static 'boostrap/js/bootstrap.min.js' %}"></script>
    

</head>
<body>
    
</body>
</html>